{% extends "base.html" %}
{% load i18n %}
{% load chartit %}
{% load jsonify %}
{% block extra_head %}

    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <script src="{{ STATIC_URL }}js/app/controllers/app-controller.js"></script>
    <script src="{{ STATIC_URL }}js/app/controllers/game-controller.js"></script>
    <script src="{{ STATIC_URL }}js/app/services/app-service.js"></script>
    <script src="{{ STATIC_URL }}js/app/services/posts-service.js"></script>
    <script src="{{ STATIC_URL }}js/app/directives/directives.js"></script>
    <script src="{{ STATIC_URL }}js/app/filters/filters.js"></script>
    
{% endblock %}
{% block content %}
    <div class="padded-content">
        <div id="main-content" class="container">
            <div class="row">
                <div class="span12">
                    <div class="pending-bg" pending-bar>
                        <div class="alert alert-warning">loading ...</div>
                    </div>
                </div>
             </div>
            <top><h1>Black3 Score App</h1></top>
            <br>
<div class="row">
    <div class="span9 main">
        <div class="row">
            <div class="span9">
                <a class="btn btn-success" href="../#/">Home</a>                
                <!--<a class="clip-opengame btn btn-success" href="../#/game/{[{games.id}]}">Detail</a>                 
                <a class="clip-opengame btn btn-success" href="../#/score/{[{games.id}]}">Score</a>                 -->
            </div>
        </div>
            <br />
                <div id='container1' style="position: relative; "></div>
                <div>
                    <table width="250" >
                        <tr><th align="left">Players</th><th align="left">Total Score</th></tr>
                        {% for row in final_score %}
                        <tr><td>{{row.0}}</td><td>{{row.1}}</td></tr>
                        {% endfor %}

                    </table>
                    
                </div>

    </div>
</div>
{% endblock %}
{% block extra_content %}
<script type="text/javascript">
     
     
     
    $(function () {

     var score_values = {{final_score| safe }};   

        Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function(color) {
            return {
                radialGradient: { cx: 0.5, cy: 0.3, r: 0.7 },
                stops: [
                    [0, color],
                    [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
                ]
            };
        });
        
        // Build the chart
        $('#container1').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Black3 Game Charts'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        formatter: function() {
                            return '<b>'+ this.point.name +'</b>: '+ this.y;
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Black3 Score Board',
                data: score_values
            }]
        });

    });

</script>
{% endblock %}